.main-editor-container {
  padding: 0 !important;
  height: 100%;
  display: grid; /* to make the child, the editor itself, take the full space */
  max-height: calc(100% - 123px);
}

.footer .container-fluid {
  display: flex !important;
}

.footer .pull-right ul {
  display: flex !important;
}

.alif-code-error {
  text-decoration: underline wavy;
  color: red;
  position: relative;
}

.alif-code-error:hover::after {
  content: attr(data-error-message);
  display: none;
  background: black;
  color: white;
  position: absolute;
  top: 100%;
  right: 0;
}

.alif-code-error:hover::after {
  display: block;
}
