.main-panel {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main-editor-container {
  padding: 0 !important;
}

.main-editor-container > div {
  position: absolute;
  width: 100%;

  height: 100%;
}

.footer .container-fluid {
  display: flex !important;
}

.footer .pull-right ul {
  display: flex !important;
}

.alif-code-error {
  text-decoration: underline wavy;
  color: red;
  position: relative;
}

.alif-code-error:hover::after {
  content: attr(data-error-message);
  display: none;
  background: black;
  color: white;
  position: absolute;
  top: 100%;
  right: 0;
}

.alif-code-error:hover::after {
  display: block;
}
